.task-container{
    width: 100%;
    border-radius: 10px;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 10px  10px 25px;
    background: -webkit-linear-gradient(
    to right,
    #89216b,
    #da4453
  ); 
  background: linear-gradient(
    to right,
    #89216b,
    #da4453
  );
  margin-bottom: 10px;
}

.task-container > div{
    flex: 1;
    overflow-wrap: anywhere;
    color: #fff;
    font-size: 20px;
}


.task-container > button{
    margin-left: 6px;
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
}

.task-container > button > i{
    font-size: 20px;
}

.complete-button > i:hover{
    text-shadow: 0 0 10px #fff;
}

.delete-button > i:hover{
    text-shadow: 0 0 10px #89216b;
}


.complete{
    text-decoration: line-through;
    color: #fff;
    opacity: .5;
}